@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

:root {
  /* Primary */
  --lime: hsl(61, 70%, 52%);
  --lime-light: hsl(61, 70%, 74%);
  --lime-lighty: #eaeb8e47;
  --red: hsl(4, 69%, 50%);

  /* Neutral */
  --white: hsl(0, 0%, 100%);
  --slate-100: hsl(202, 86%, 94%);
  --slate-300: hsl(203, 41%, 72%);
  --slate-500: hsl(200, 26%, 54%);
  --slate-700: hsl(200, 24%, 40%);
  --slate-900: hsl(202, 55%, 16%);
  --slate-950: hsl(202, 55%, 10%);
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: var(--slate-100);
  min-height: 100vh;
  display: grid;
  place-items: center;
}

input[type="number"]::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  appearance: none;
}
input {
  appearance: none;
}

input[type="radio"]:checked::after {
  content: '';
  position: absolute;
  width: 75%;
  height: 75%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--lime);
  border-radius: 50%;
}

/* 
.input-container:focus-within .icon {
  background-color: var(--lime);
} */